<div class="row">
    <h2>{{welcomeMessage}}</h2>
    <p>We are really very glad to see you today!
    Dit wordt een button: {{> button modifier="active"}}

    <br>
    Modal:
    <br>

	{{#> modal modifier="active"}}
		ik sta in de hello file
	{{/modal}}

    -------
</div>
